/*Generals*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Utility*/

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

.mbttm{
    margin-bottom: 20px;
}

/*Debug*/

.debug{
    height: 50px;
}

.color1{
    background-color: rgba(229, 120, 230, 1);
}

/*Header*/

.container{
    width: 80%;
    margin: auto;
}